body {
    margin: 0;
    font-style: sans-serif;
    font-family: ggogle-sans, sans-serif;
}

header {
    display: flex;
    background-color: #6b74f3;
    width: 100%;
    height: 40px;
    justify-content: space-around;

}

#header_items {
    display: flex;
    width: 70%;
    height: 30px;
    margin: 5px;
    align-items: center;
    justify-content: space-between;
    font-size:13px;
    color:white;
}

#header_items span {
    display: flex;
    align-items: center;
    
}

#header_logo {
    width: 15%;
    height: 30px;
}

#header_links {
    width: 70%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    padding:0 40px;  
}

#header_login {
    width: 15%;
    background-color: white;
    color:black;
    border: none;
    border-radius:30px;
    height: 30px;
    display: flex;
    justify-content: center;
    
}

#sez1 {
    background-color: rgb(10, 54, 112);
    width: 100%;
    padding: 7px;
    display: flex;
    justify-content: center;
    background-image: url(./img/jumbo.png);
    background-size:cover;
    height: 300px;
    text-align:center;
}

#rosa {
    width:450px;
    
}
#rosa h1{
    color:white;
    font-size:30px;
    font-weight:700;
}
#rosa p{
    color:white;
    font-size:13px;
    line-height:1.5;
}
#rosa input[value="Scarica per Mac"]{
    background-color: white;
    color:black;
    border: none;
    border-radius:30px;
    height: 30px;
    width:200px;
    margin:10px;
}
#rosa input[value="Apri Discord nel tuo browser"]{
    background-color: rgb(39, 38, 38);
    color:white;
    border: none;
    border-radius:30px;
    height: 30px;
    width:200px;
    margin:10px;
}
main>div {
    padding: 7px;
    width: 100%;
    min-height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main>div:nth-last-child(2),
main>div:nth-last-child(4) {
    background-color: lightgray;
    width: 100%;
}

.img_page {
    background-size:cover;
    

}
#sez2 .img_page:nth-child(1) {
    background-image: url(./img/item1.svg);
    width: 350px;
    height: 200px;
    
}
#sez3 .img_page:nth-child(1) {
    background-image: url(./img/item2.svg);
    width: 400px;
    height: 300px;
    scale:0.8;
}
#sez4 .img_page:nth-child(1) {
    background-image: url(./img/item3.svg);
    width: 450px;
    height: 300px;
    scale:0.8;
}
.sez_txt {
    text-align:left;
    width: 250px;
    height: 250px;
    
    
}
.sez_txt p{
    font-size:11px;
    line-height:1.5;
}
main>div:nth-child(3) {
    display: flex;

    .img_page {
        order: 1;
    }
}

#sez5{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    gap:20px;
    padding:20px 0 60px 0;
}

#sez5 p{
    width:550px;
    font-size:11px;
    
}
#sez5 input[type="button"]{
    background-color:  #6b74f3;
    color:white;
    border: none;
    border-radius:30px;
    height: 30px;
    width:200px;
    margin:10px;
}
#img_page_grande {
    background-image: url(./img/item4-big.svg);
    background-size: cover;
    width: 650px;
    height: 400px;
}

#foot1{
    display:flex;
    color:white;
}

#lingua_e_social {

    height: 250px;
    width: 200px;
    
}
#foot1 h3,.link_pagina_footer span{
    color:#6b74f3;
}
#foot1 span,.link_pagina_footer{
    font-size:12px;
}
#lingua{
    display: flex;
}
.social-icons a {
    margin: 0 5px;
    color:white;
    text-decoration: none;
}

.social-icons a:hover {
    color: #a2b2c5;
}
.link_pagina_footer {
    
    width: 100px;
    min-height:300px;
    display:flex;
    flex-direction: column;
    gap:10px;
    padding-top:25px;
    
}

footer{
    background-color: rgb(77, 73, 73);
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
    padding-top:20px;
    padding-bottom:20px;
}

#lower_bar{
    background-color: rgb(77, 73, 73);
    border-top: 1px solid white;
    width: 70%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:20px;
    padding-top:10px;

}
#footer_logo{
    scale:0.7;
}
#lower_bar input{
    background-color:  #6b74f3;
    color:white;
    border: none;
    border-radius:30px;
    
    padding:7px;
}
