body {
    margin: 0;
    font-style: sans-serif;
}

header {
    display: flex;
    background-color: #6b74f3;
    width: 100%;
    height: 40px;
    justify-content: space-around;

}

#header_items {
    display: flex;
    width: 70%;
    height: 30px;
    margin: 5px;
    align-items: center;
    justify-content: space-between;
    font-size:13px;
    color:white;
}

#header_items span {
    display: flex;
    align-items: center;
    
}

#header_logo {
    width: 15%;
    height: 30px;
}

#header_links {
    width: 70%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    padding:0 40px;  
}

#header_login {
    width: 15%;
    background-color: white;
    color:black;
    border: none;
    border-radius:30px;
    height: 30px;
    display: flex;
    justify-content: center;
    
}

#sez1 {
    background-color: rgb(10, 54, 112);
    width: 100%;
    padding: 7px;
    display: flex;
    justify-content: center;
    background-image: url(./img/jumbo.png);
    background-size:cover;
    height: 300px;
}

#rosa {
    background-color: pink;
    width: 50%;
    height: 150px;
    width: 250px;
}

main>div {
    padding: 7px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main>div:nth-last-child(2),
main>div:nth-last-child(4) {
    background-color: lightgray;
    width: 100%;
}

.blu_grande {
    background-color: blue;
    width: 350px;
    height: 200px;
    border: 1px black dashed;
}

.rosa_piccolo {
    background-color: lightpink;
    width: 250px;
    height: 200px;
    border: 1px black dashed;
}

main>div:nth-child(3) {
    display: flex;

    .blu_grande {
        order: 1;
    }
}

#verde {
    background-color: green;
    width: 600px;
    height: 300px;
    border: 1px black dashed;
}

main>div:last-child {
    background-color: rgb(77, 73, 73);

}

#rosa_medio {
    height: 250px;
    width: 200px;
    background-color: lightpink;
    border: 1px black dashed;
}

.turchese {
    background-color: turquoise;
    width: 100px;
    height: 250px;
    border: 1px white dashed;
}
footer{
    background-color: rgb(77, 73, 73);
    border-top: 2px solid white;
    display:flex;
    justify-content: center;
    padding-top:5px;
}
#verde_acqua{
    background-color: aquamarine;
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#verde_acqua span,footer input{
    background-color: pink;
    border: 1px black dashed;
}
footer input[type="button"]:hover{
    background-color: rgb(241, 154, 168);
    cursor: pointer;
}