body{
    margin:0;
    font-family:sans-serif;
    background-color: rgb(197, 197, 192);
}
header{
    width:100%;
    padding-left:2%;
    background-color:white;
    display:inline-block;
}
#title{
    position:relative;
    bottom:20px;
    font-size-adjust: 0.75;
}
main{
    width:80%;
    margin-top:2%;
    position:relative;
    left:10%;
    background-color: white;
    border-radius:10px;
}