header {
    background-color: rgb(73, 183, 219);
    background-image: url('./img/pattern.png');
    
    width: 100%;
    padding: 20px;
    
}
#logo {
    height: 50px;
    margin-left:100px;
    margin-top:50px;
}
body {
    margin: 0;
    font-family: 'Times New Roman', serif;

}
main {
    margin-left:100px;
    margin-right:100px;
}
#light-blue {
    color: rgb(106, 206, 240);
    font-weight: bold;
    font-size: 20px;
}

.auth {
    
    font-size: 15px;
    color: grey;
    
}
#date{
    font-size: 10px;
}
figure{
    margin: 0;
}
#evidenzia{
    background-color: rgb(219, 241, 18);
}
ul{
    padding:20px;
}
table{
    width:100%;
    text-align:left;
    margin:0;  
    border-collapse: collapse; /* per eliminare lo spazio tra le celle */
}
thead{
    background-color: rgb(89, 100, 247);
    color:white;

}
th{
    width:33%;
}
.table-body{
    background-color: lightblue;
}
td{
    padding:0;
}
#row-2{
    background-color: white;
}
.mongraphImg{
    float: left; /* per far sì che le immagini si dispongano una accanto all'altra partendo da sinistra*/
    margin: 0 10px 0 0; /* top right bottom left*/
    padding: 0;
    position: relative; /* per posizionare lo span in modo assoluto rispetto a questo contenitore */
    overflow: hidden; /* per far sì che lo span non esca fuori dall'immagine */

}
.mongraphImg img{
    float:left;
    margin:0;
    padding: 0;
}
.mongraphImg span{
    float: left;
    margin: 0;
    padding: 10px;
    width: 100%;
    color: white;
    position: absolute;
    left: 0;
    top: 0;

    font-size:30px;
}
