header {
    background-color: rgb(73, 183, 219);
    background-image: url('./img/pattern.png');
    height: 200px;
    width: 100%;
    padding: 20px;
}
#logo {
    height: 100px;
    margin-left:100px;
    margin-top:100px;
}
body {
    margin: 0;
    font-family: 'Times New Roman', serif;

}
main {
    margin-left:100px;
    margin-right:100px;
}
#light-blue {
    color: rgb(106, 206, 240);
    font-weight: bold;
    font-size: 20px;
}

.auth {
    
    font-size: 15px;
    color: grey;
    
}
#date{
    font-size: 10px;
}
figure{
    margin: 0;
}
#evidenzia{
    background-color: rgb(219, 241, 18);
}
ul{
    padding:0;
}
table{
    width:100%;
    text-align:left;

}
thead{
    background-color: rgb(89, 100, 247);
    color:white;

}
th{
    width:33%;
}
.table-body{
    background-color: lightblue;
}
td{
    padding:0;
}
#row-2{
    background-color: white;
}